.navbar {
  width: 100%;
  height: 80px;

  /* background: url("https://cdn.pixabay.com/photo/2017/06/30/15/53/lego-blocks-2458575__340.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; */
  position: fixed;
  /* background-color: #ffcc66; */
  display: flex;
  align-items: center;
  z-index: 1;
}

.logo {
  margin-left: 15px;
  cursor: pointer;
}

.logo_img {
  width: 50px;
  height: 50px;
}

.user_icon {
  position: absolute;
  right: 0.5em;
  top: 0.2em;
  padding: 0.8em;
  border-radius: 20%;
  outline: 0;
  border: 0;
  cursor: pointer;
}
