.navbar {
  width: 100%;
  height: 70px;
  align-items: center;
  padding: 0.5em;
  display: flex;
  position: fixed;
  z-index: 1;
}

.logo_img {
  position: absolute;
  width: 50px;
  height: 50px;
  left: 0.7em;
  top: 0.6em;
  cursor: pointer;
}

.title {
  /* position: fixed; */
  display: block;
  width: 70%;
  margin: 0 auto;
  line-height: 60px;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
}

.theme__btn {
  z-index: 1005;
}
