.body {
  width: 100%;
  height: 100%;
  padding: 1em 1em;
  border-top: 2px solid black;
  display: flex;
  flex-direction: column;
}

.header {
  flex-basis: 50%;
}

.headerSum {
  display: flex;
  justify-content: space-between;
  padding: 0.5em 0.5em;
}

.SumName {
  font-size: 20px;
  font-weight: 500;
}

.SumPrice {
  font-size: 25px;
  font-weight: 600;
}

.headerBefore {
  display: flex;
  justify-content: space-between;
  padding: 0.5em 0.5em;
  padding-bottom: 1em;
  border-bottom: 2px dashed black;
}

.beforeMil {
  font-size: 18px;
  font-weight: 500;
}

.beforeMilMy {
  font-size: 25px;
  font-weight: 600;
}

.section {
  flex-basis: 30%;
}

.sectionAfter {
  display: flex;
  justify-content: space-between;
  padding: 0.5em 0.5em;
  padding-top: 1em;
}

.afterMil {
  font-size: 18px;
  font-weight: 500;
}

.afterMilMy {
  font-size: 25px;
  font-weight: 600;
}

.footer {
  flex-basis: 10%;
}

.footerBody {
  width: 100%;
  height: 100%;

  padding: 0.5em 0.5em;
  text-align: center;
  background: #ef8ebe;
  color: #fff;

  font-size: 20px;
  font-weight: 600;
}
