.body {
  display: inline-block;
}

.container {
  width: 200px;
  height: 200px;
  padding: 1em 1em;
  display: flex;
  flex-direction: column;
}

.image_box {
  flex-basis: 94%;
}

.image {
  width: 100%;
  height: 100%;
}

.price_box {
  flex-basis: 6%;
}

h3 {
  text-align: center;
  background-color: burlywood;
}
