.my_info_form{
    position: relative;
    display: flex;
    display: block;
    height: 75%;
    flex: 1;
}

.my_info_left{
    flex-basis: 50%;
    position: relative;
    margin: 0%;
    width: 50%;
    height: 100%;
    text-align: center;
    float: left;
    padding-top: 100px;
    padding-left: 80px;
}

.my_info_right{
    flex-basis: 50%;
    position: relative;
    margin: 0%;
    width: 50%;
    height: 100%;
    text-align: center;
    float: left;
    padding-top: 120px;
    padding-right: 80px;
}

.profile_img{
    display: inline-block;
    width: 245px;
    height: 245px;
    background-color: aquamarine;
    border-radius: 50%;
}

.text{
    font-weight: bold;
    font-size: 20px;
    margin: 10px;
}

.text_introduction{
    font-size: 18px;
    margin: 10px;
}

.icons {
    margin: 20px;
}

.icon{
    display: inline;
}

.text_mileage{
    display: inline;
    font-weight: bold;
    font-size: 20px;
    margin: 10px;
}

.input_box {
    display: block;
    text-align: center;
    margin: 0 auto;
}

.input {
    display: inline-block;
    height: 40px;
    width: 250px;
    margin: 5px;
}

.edit_file{
    margin: 0 auto;
    font-size: 10px;
    text-align: center;
    padding-top: 20px;
    padding-left: 50px;
    color: darkgray;
}

.delete_file{
    margin: 0 auto;
    font-size: 10px;
    text-align: center;
    padding-top: 10px;
    color: rgb(202, 0, 0);
}

.edit{
    margin: 10px;
    font-size: 10px;
    color: darkgray;
}