.navbar {
  width: 100%;
  text-align: center;
  padding: 0.5em;
  background-color: #ef8ebe;
  position: relative;
}

.title {
  padding: 0;
  font-size: 40px;
  margin: 0;
  color: white;
}

.logo_img {
  position: absolute;
  width: 50px;
  height: 50px;
  left: 0.7em;
  top: 0.6em;
  cursor: pointer;
}
