.my_block_category{
    position: relative;
    width: 100%;
    height: 100%;
}

.close {
    top: 14px;
    right: 18px;
    position: absolute;
    font-size: 40px;
    color: darkgray;
    z-index: 1;
}

.close:hover{
    color: red;
}

.category_name{
    position: absolute;
    display: inline-block;
    width: 100px;
    height: 40px;
    background-color: rgb(250, 193, 35);
    border-radius: 10px;
    text-align: center;
    line-height: 40px;
    top: 10px;
    left: 50%;
    font-size: 20px;
    font-weight: bold;
    color: white;
    transform: translateX(-50%);
    z-index: 1;
}

.block_list_form{
    margin-top: 50%;
    display: inline-block;
    position: relative;
    width: 100%;
    height: 100%;
    flex-direction: col;
    text-align: center;
    padding: 10px;
    margin: 0 auto;
}

.btn_icon_left{
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 5%;
    font-size: 30px;
    color: darkgray;

    transform: translate(-50%, -50%);
}

.btn_icon_right{
    display: inline-block;
    position: absolute;
    top: 50%;
    right: 0%;
    font-size: 30px;
    color: darkgray;

    transform: translate(-50%, -50%);
}

.btn_icon_left:hover{
    color: rgb(68, 68, 177);
}

.btn_icon_right:hover{
    color: rgb(68, 68, 177);
}