.page_style {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.container {
  display: flex;
  flex: 1;
  position: relative;
}

.headerPlayGround {
  width: 100%;
  height: 30px;
  background-color: #ffcc66;
}

.playground {
  position: absolute;
  width: 400px;
  height: 400px;
  right: 50px;
  top: 30px;
  z-index: 10;
  border: 2px solid #fea420;
  border-radius: 10px;
}

.workspace_cata {
  width: 100%;
  height: 100%;
}

.workspace {
  width: 100%;
  height: 100%;
  /* padding: 1em 1em; */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.fill_height {
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 60em) {
  .container {
    flex-direction: column;
  }
}
