.box{
    display: block;
    position: absolute;
    top: 51%;
    left: 50%;
    width: 80%;
    height: 90%;
    border: 3px solid darkgray;
    border-radius: 50px;

    transform: translate(-50%, -50%);
}

.my_block_list_form{
    display: inline-block;
    width: 90%;
    height: 90%;
    margin: 10px;
    text-align: center;
}

.text{
    position: absolute;
    font-size: 30px;
    font-weight: bold;
    display: inline-block;
    width: 90%;

    top: 45%;
    transform: translateX(-50%);
}
