.back {
	margin-top: 10px;
	margin-left: 10px;
	justify-content: center;
	display: inline-block;
}

.back_icon {
	width: 20px;
	height: 20px;
}

.button_back {
	border: 0px;
	background-color: white;
    font-size: 18px;
    font-weight: bold;
}

.comment {
    display: inline;
	float: right;
}

.comment_log_in {
	font-size: 10px;
	display: inline;
}

.button_log_in {
	border: 0px;
	color: #ff8896;
	background-color: white;
    font-size: 10px;
    font-weight: bold;
}

.sign_up_form {
    display: block;
	width: 400px;
	height: 200px;
	margin: 0 auto;
    margin-top: 10px;
	text-align: center;
}