.body {
  width: 100%;
  height: 100%;
  background-color: #fefefe;
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.left_btn {
  opacity: 0.3;
  cursor: pointer;
}

.left_btn:hover {
  transform: scale(1.1);
}

.right_btn {
  opacity: 0.3;
  cursor: pointer;
}

.right_btn:hover {
  transform: scale(1.1);
}
