.back {
	margin-top: 10px;
	margin-left: 10px;
	justify-content: center;
	display: inline-block;
}

.back_icon {
	width: 20px;
	height: 20px;
}

.button_back {
	border: 0px;
	background-color: white;
    font-size: 18px;
    font-weight: bold;
}

.find_PW_form {
	display: block;
	width: 400px;
	height: 200px;
	margin: 0 auto;
	margin-top: 50px;
	text-align: center;
}
