.back {
	margin-top: 10px;
	margin-left: 10px;
	justify-content: center;
	display: inline-block;
    position: absolute;
}

.back_icon {
	width: 20px;
	height: 20px;
}

.button_back {
	border: 0px;
	background-color: white;
    font-size: 18px;
    font-weight: bold;
}

.body {
    display: block;
    width: 90%;
    margin: 0 auto;
    border-bottom: 3px solid darkgray;
}

.title{
    display: block;
    width: 100%;
    text-align: center;
    line-height: 60px;
    font-size: 30px;
    font-weight: bold;
    border-bottom: 3px solid darkgray;
}

.info{
    float: right;
    margin: 10px;
    margin-right: 10px;
    font-size: 18px;
    font-weight: bold;
}

.info_text {
    display: inline;
    margin-left: 5px;
    margin-right: 15px;
}

.content{
    clear: both;
    display: block;
    width: 90%;
    height: 100%;
    border: 2px solid darkgray;
    border-radius: 20px;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 20px;
}