.body {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.container {
  display: flex;
  flex: 1;
}

.lists {
  display:block;
  flex-basis: 100%;
  border: 3px solid rebeccapurple;
  padding: 2em 3em;
  height: 100%;
}
