.body {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.container {
  display: flex;
  flex: 1;
  position: relative;
}

.playground {
  position: absolute;
  width: 424px;
  height: 424px;
  right: 50px;
  top: 30px;
  z-index: 10;
  border: 2px solid #fea420;
  border-radius: 5px;
  background-color: #ffffff;
}

.workspace_cata {
  /* border: 1px solid white;
  margin-top: 20px; */
  width: 100%;
  height: 100%;
  padding: 6px;
}

.workspace {
  width: 100%;
  height: 100%;
  border: 1px solid #efa420;
  /* padding: 1em 1em; */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.fill_height {
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 60em) {
  .container {
    flex-direction: column;
  }
}
