.navbar_main {
  width: 100%;
  height: 70px;
  align-items: center;
  padding: 0.5em;
  display: flex;
  position: fixed;
  z-index: 1;
  /* background-color: rgb(210, 255, 255); */
}

.navbar {
  width: 100%;
  height: 70px;
  align-items: center;
  padding: 0.5em;
  display: flex;
  /* position: fixed;
    z-index: 1; */
}

.navbar_challenge {
  width: 100%;
  height: 70px;
  align-items: center;
  padding: 0.5em;
  display: flex;
  background-color: rgb(243, 152, 0);
}

.navbar_my_page {
  width: 100%;
  height: 70px;
  align-items: center;
  padding: 0.5em;
  display: flex;
  position: fixed;
  z-index: 1;
}

.navbar_mission {
  width: 100%;
  height: 70px;
  align-items: center;
  padding: 0.5em;
  display: flex;
  background-color: #b9dd6b;
}

.navbar_board {
  width: 100%;
  height: 70px;
  align-items: center;
  padding: 0.5em;
  display: flex;
  background-color: rgb(201, 160, 99);
}

.navbar_answer {
  width: 100%;
  height: 70px;
  align-items: center;
  padding: 0.5em;
  display: flex;
  background-color: #92ecec;
}

.navbar_store {
  width: 100%;
  height: 70px;
  align-items: center;
  padding: 0.5em;
  display: flex;
  background-color: #ef8ebe;
}

.navbar_service {
  width: 100%;
  height: 70px;
  align-items: center;
  padding: 0.5em;
  display: flex;
  background-color: rgb(210, 255, 255);
}

.save_button {
  position: absolute;

  right: 1em;
  top: 0em;
  padding: 0.8em;
  font-size: 15px;

  outline: 0;
  border-radius: 10px;

  cursor: pointer;
}

.logo_img {
  position: absolute;
  width: 50px;
  height: 50px;
  left: 0.7em;
  top: 0.6em;
  cursor: pointer;
}

.title {
  display: block;
  width: 70%;
  margin: 0 auto;
  line-height: 60px;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
}

.user_icon {
  position: absolute;
  right: 0.5em;
  top: 0.2em;
  border-radius: 20%;
  outline: 0;
  border: 0;
  font-size: 50px;
  cursor: pointer;
  color: rgb(235, 235, 235);
}

.title {
  color: #fff;
}

.nav_text {
  font-size: 15px;
  font-weight: bold;
  color: rgb(71, 71, 71);
  display: inline-block;
  width: 100px;
}