.navbar {
  width: 100%;
  text-align: center;
  padding: 0.5em;
  background-color: #efa420;
  position: relative;
}

.title {
  font-size: 40px;
  margin: 0;
  color: white;
}

.logo_img {
  position: absolute;
  width: 50px;
  height: 50px;
  left: 0.7em;
  top: 0.6em;
  cursor: pointer;
}

.modal_button {
  position: absolute;

  right: 1em;
  top: 0em;
  padding: 0.8em;
  font-size: 15px;

  outline: 0;
  border-radius: 10px;

  cursor: pointer;
}
