.body {
  width: 100%;
  height: 100%;
  /* border: 2px solid #fea420; */
}

.game {
  width: 100%;
  height: 420px;
  border-radius: 3px;
  background: url(https://images.clipartlogo.com/files/istock/previews/1006/100666563-empty-chalkboard-with-eraser-and-chalks.jpg);
  background-size: 100% 100%;
}

.margin {
  width: 100%;
  height: 22px;
}

.section {
  font-weight: bold;
  color: white;
  font-size: 40px;
  margin-top: 10px;
}

.question {
  display: inline-block;
  margin-left: 100px;
}

.answer {
  display: inline-block;
  margin-left: 40px;
}

.game__button {
  position: absolute;
  bottom: 3%;
  right: 3%;
  opacity: 0.5;
}

.game__button:hover {
  cursor: pointer;
  opacity: 1;
  transform: scale(1.1);
}
