.body {
  width: 100%;
  height: 100%;
  /* border: 2px solid #fea420; */
}

.game {
  width: 100%;
  height: 400px;
  border-radius: 7px;
  -moz-border-radius: 7px;
  -khtml-border-radius: 7px;
  -webkit-border-radius: 7px;
  background: url(../../../../images/test_playground.png) center/cover;
}

.game__bug {
  width: 100%;
  height: 100%;
}

.footer {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.game__button {
  display: block;
  width: 100%;
}
