.body {
  width: 100%;
  display: inline-block;
  margin: 10px;
}

.text{
  display: inline;
  margin: 0 auto;
}

.img{
  background-color: aqua;
  display: inline-block;
  margin: 10px;
  width: 100px;
  height: 100px;
}
