.card_form {
    width: 280px;
    height: 300px;
    margin: 10px;
    display: inline-block;
    border: 2px solid darkgray;
    border-radius: 10px;
    position: relative;
    padding: 13px;
}

.title_mission {
    border: 0px;
    margin: 0 auto;
    display: inline-block;
    width: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    font-weight: bold;
    font-size: 30px;
    color: darkgray;
    text-align: center;
    transform: translate(-50%, -50%);
}

.title_mission:hover {
    color: #b9dd6b;
    font-size: 40px;
    top: 50%;
    left: 50%;
}

.title_answer {
    border: 0px;
    margin: 0 auto;
    display: inline-block;
    width: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    font-weight: bold;
    font-size: 30px;
    color: darkgray;
    text-align: center;
    transform: translate(-50%, -50%);
}

.title_answer:hover {
    color: #92ecec;
    font-size: 40px;
    top: 50%;
    left: 50%;
}

.img_mission {
    display: block;
    width: 240px;
    height: 240px;
    background-color: #e9ffb8;
    border-radius: 10px;
    border: 0px;
    margin: 0 auto;
    margin-bottom: 4px;
}

.img_answer {
    display: block;
    width: 240px;
    height: 240px;
    background-color: #d2ffff;
    border-radius: 10px;
    border: 0px;
    margin: 0 auto;
    margin-bottom: 4px;
}

.icon_box {
    width: 100%;
    height: 48px;
    display: block;
    text-align: center;
}

.icon {
    display: inline-block;
    width: 70px;
    font-size: 20px;
    text-align: center;
    padding: 5px;
    color: rgb(78, 74, 74);
}