.body {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.container {
  display: flex;
  flex: 1;
  padding: 0.8em;
  background: url(../../../../images/block_store/block_store_concept_1.png);
  background-size: 100% 100%;
}

.cart__bill {
  flex-basis: 30%;
  border: 3px solid black;
  display: flex;
  flex: 1;
  flex-direction: column;
}

.blocks {
  flex-basis: 70%;
  /* overflow: inherit; */
  margin-left: 50px;
}

.store_body {
  width: 100%;
  height: 100%;
  background: url(../../../../images/store.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.cart {
  flex-basis: 40%;
  border: 3px solid red;
  padding: 2em 2em;
}

.bill {
  flex-basis: 60%;
  border: 3px solid red;
  padding: 2em 2em;
}

@media screen and (max-width: 60em) {
  .container {
    flex-direction: column;
  }
}
