.detail_form {
    width: 100%;
    height: 100%;
    border: 1px solid black;
    border-radius: 10px;
    align-items: center;
    align-content: center;
    background-color: white;
    position: relative;
    text-align: center;
}

.header{
    display: block;
    margin: 0 auto;
    margin-top: 2%;
    margin-bottom: 1%;
    padding: 10px;
    width: 80%;
    height: auto;
    border-bottom: 2px solid darkgray;
}

.title {
    font-size: 30px;
    font-weight: bold;
    display: inline;
}

.icon_nickname{
    display: inline-block;
    width: 200px;
    font-size: 20px;
    font-weight: bold;
    float: left;
    margin-left: 5%;
}

.icon_date{
    display: inline-block;
    float: right;
    margin-right: 10%;
    margin-bottom: 5%;
}

.icon_box {
    display: inline-block;
    width: 60px;
}

.icon{
    display: inline;
    font-size: 15px;
}

.icon_text{
    display: inline;
    padding-left: 10px;
    font-size: 15px;
}

.heart {
    display: inline;
    color: red;
    font-size: 30px;
    margin: 20px;
}

.content{
    display: block;
    width: 80%;
    height: 60%;
    border: 2px solid darkgray;
    border-radius: 10px;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 1.5%;
    padding: 20px;
    text-align: left;
}

.participate_button {
    margin: 1%;
    width: 300px;
    height: 45px;
    border: 2px solid black;
    border-radius: 10px;
    background-color: #ff8896;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

.participating_button {
    margin: 1%;
    width: 300px;
    height: 45px;
    border: 2px solid black;
    border-radius: 10px;
    background-color: #fff788;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

.participated_button {
    margin: 1%;
    width: 300px;
    height: 45px;
    border: 2px solid black;
    border-radius: 10px;
    background-color: #88e7ff;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

.close {
    top: -4px;
    right: 0px;
    position: absolute;
    font-size: 40px;
    color: darkgray;
}

.close:hover{
    color: red;
}