.body {
  width: 100%;
  height: 100px;
  display: flex;
  text-align: center;
  padding: 0.5em 0.5em;
  justify-content: center;
  align-items: center;
}

h1 {
  padding: 0;
}

p {
  font-size: 25px;
  font-weight: 600;
  margin-top: 20px;
}

.img {
  flex-basis: 40%;
  height: 100%;
}

.cata {
  flex-basis: 25%;
  height: 100%;
  text-align: center;
}

.price {
  flex-basis: 25%;
  height: 100%;
  text-align: center;
}

.delete__btn {
  flex-basis: 10%;
  height: 100%;
}

.btn {
  margin-top: 25px;
}
