.sns_log_in_form {
    display: block;
    text-align: center;
}

.comment_sns_log_in {
    border-top: 1px solid black;
    width: 300px;
    margin: 0 auto;
    padding: 10px;
    font-size: 12px;
}