.my_mission_modal{
  position: absolute;
  display: block;
  top: 100px;
  left: 50%;
  width: 1200px;
  height: 800px;
  transform: translateX(-50%);
  overflow: auto;
  background-color: white;
  border-radius: 20px;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.my_mission_modal::-webkit-scrollbar {
  display: none;
}

.answer_modal{
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  background-color: white;
  border-radius: 20px;
}

.body {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  padding-bottom: 60px;
}

.container {
  width: 100%;
  height: 100%;
  display: table;
  margin: 0 auto;
  /* padding-bottom: 40px; */
  padding-top: 40px;
}

.pannel {
  display: table;
  margin: 0 auto;
}

.header {
  /* width: 900px; */
  overflow: auto;
  margin: 0 auto;
  padding: 1em;
  padding-bottom: 1em;
  /* border: 2px solid black;
  border-bottom: 0; */
  border: 0;
  text-align: center;
}

.back_btn {
  display: inline-block;
  cursor: pointer;
  float: left;
  font-size: 18px;
  font-weight: bold;
}

.back_btn:hover {
  transform: scale(1.1);
  color: #a72b2b;
}

.head_title {
  display: inline-block;
  font-size: 23px;
  font-weight: 550;
}

.header_btn_group {
  display: inline-block;
  float: right;
}

.header_btn_fix {
  width: 100px;
  display: inline-block;

  border: 2px solid black;
  border-radius: 10px;
  padding: 5px 5px;
  margin: 0 5px 0 5px;

  font-weight: bold;

  cursor: pointer;

  background-color: #fff788;
}

.header_btn_dele {
  width: 100px;
  display: inline-block;

  border: 2px solid black;
  border-radius: 10px;
  padding: 5px 5px;
  margin: 0 5px 0 5px;

  font-weight: bold;

  cursor: pointer;

  background-color: #ff8896;
}

.header_line {
  display: inline-block;
  width: 100%;
  height: 1px;
  border-bottom: 2px solid darkgray;
}

.icon {
  display: inline-block;
  float: right;
  margin: 5px;
  margin-left: 10px;
}

.section {
  /* width: 800px; */
  margin: auto;
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  padding: 16px;
}

.playground {
  position: relative;
  width: 424px;
  height: 424px;
  z-index: 10;
  border: 2px solid black;
  /* border-radius: 5px; */
  background-color: #ffffff;
  display: inline-block;
}

.workspace_cata {
  width: 650px;
  height: 422px;
  display: inline-block;
  padding-left: 50px;
}

.workspace {
  width: 100%;
  height: 100%;
  border: 2px solid black;
  display: inline-block;
}

.noWorkspace {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  position: relative;
}

.noWorkspace_btn {
  position: absolute;
  width: 40%;
  height: 18%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 2px solid black;
  border-radius: 10px;
  background-color: #88e7ff;
  font-size: 30px;
  font-weight: bold;
  cursor: pointer;
}

.fill_height {
  width: 100%;
  height: 100%;
}

.section_line {
  display: inline-block;
  width: 100%;
  height: 1px;
  border-bottom: 2px solid darkgray;
}

.content {
  width: 95%;
  height: 100px;
  margin: auto;
  margin-top: 30px;
}

.heart {
  font-size: 20px;
  font-weight: bold;
}