.background_img {
  width: 100%;
  height: 100%;
}

.background_black {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.5;
}

.skip_button {
  width: 120px;
  height: 50px;
  font-size: 20px;
  font-weight: bold;
  background-color: white;
  border: 4px solid black;
  border-radius: 10px;
  position: absolute;
  bottom: 30px;
  right: 30px;
}

.user_container {
  width: 500px;
  height: 400px;

  background-color: white;
  border: 4px solid black;
  border-radius: 10px;
  position: absolute;

  top: 67%;
  left: 50%;

  /* transform: translateX(-50%); */
  transform: translate(-50%, -50%);
}
