.body {
  width: 100%;
  height: 100%;
  align-items: center;
  padding-left: 1.5em;
}

.dumy1 {
  width: 100%;
  height: 3rem;
}

.cata__judgement {
  width: 100%;
  height: 4rem;
  text-align: center;
  position: relative;
  /* vertical-align: text-bottom; */
}

.cata__judgement:hover {
  cursor: pointer;
  transform: scale(1.05);
}

.cata__judgement > div {
  /* padding: 1em 0.5em;
  padding-left: 3em;
  font-size: 1.1rem;
  font-weight: 550;
  color: #fff; */
  text-align: center;
  display: inline-block;
  /* top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */
}

.cata__movement {
  width: 100%;
  height: 4rem;
}

.cata__movement:hover {
  cursor: pointer;
  transform: scale(1.05);
}

.cata__movement > div {
  padding: 1.2em 0.5em;
  padding-left: 3.5em;
  font-size: 1rem;
  font-weight: 550;
  color: #fff;
}

.cata__flow {
  width: 100%;
  height: 4rem;
}

.cata__flow:hover {
  cursor: pointer;
  transform: scale(1.05);
}

.cata__flow > div {
  padding: 1em 0.5em;
  padding-left: 3em;
  font-size: 1.1rem;
  font-weight: 550;
  color: #fff;
}

.cata__calculation {
  width: 100%;
  height: 4rem;
}

.cata__calculation:hover {
  cursor: pointer;
  transform: scale(1.05);
}

.cata__calculation > div {
  padding: 1em 0.5em;
  padding-left: 3em;
  font-size: 1.1rem;
  font-weight: 550;
  color: #fff;
}

.cata__drawing {
  width: 100%;
  height: 4rem;
}

.cata__drawing:hover {
  cursor: pointer;
  transform: scale(1.05);
}

.cata__drawing > div {
  padding: 1.2em 0.5em;
  padding-left: 3.5em;
  font-size: 1rem;
  font-weight: 550;
  color: #fff;
}

.cata__function {
  width: 100%;
  height: 4rem;
}

.cata__function:hover {
  cursor: pointer;
  transform: scale(1.05);
}

.cata__function > div {
  padding: 1em 0.5em;
  padding-left: 3em;
  font-size: 1.1rem;
  font-weight: 550;
  color: #fff;
}
