.body {
  border: 1px solid black;

  top: 30%;
  left: 7.5%;
  width: 84.5%;
  height: 60%;

  padding: 1em 1em;

  position: relative;
  display: flex;
  flex-wrap: wrap;

  justify-content: center;
  align-items: center;

  overflow-y: auto;
  -ms-overflow-style: none;
}

.body::-webkit-scrollbar {
  display: none;
}
