.body {
  border: 2px solid black;

  top: 5.5%;
  left: 5.5%;
  width: 89%;
  height: 85%;
  max-height: 85%;

  /* padding: 1em 1em; */

  position: relative;
  display: flex;
  flex-wrap: wrap;

  justify-content: center;
  align-items: center;

  overflow-y: scroll;
  -ms-overflow-style: none;
}

.body::-webkit-scrollbar {
  display: none;
}

.text{
  display: inline-block;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
}