<!DOCTYPE HTML>
<html>
    <head>
        <title>B205</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    </head>
    <body>
    <h1> {{email}} 님, 이메일 인증이 완료되었습니다 !</h1>
    </body>
</html>