<!DOCTYPE HTML>
<html>
<head>
    <title>B205</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

</head>
<body>
<div style="text-align: center;">
    <a href="http://i4b205.p.ssafy.io"><img width="85%" height="auto" src="/api/img/ticket_small_2.png" alt="welcome image"/></a>
</div>
</body>
</html>