<!DOCTYPE HTML>
<html>
    <head>
        <title>B205</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    </head>
    <body>
    <a href="http://i4b205.p.ssafy.io"><img src="/api/img/ticket_small.png" alt="welcome image"/></a>
    </body>
</html>